
html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Lato', sans-serif;
}
#header{
	position: sticky;
	position:-webkit-sticky;
	top: 0;
	width: 100vw;
	background-color: white;
	z-index: 1000;
}
.parallax {
  /* The image used */
  background-image: url("../img/PortadaYael.jpg");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contenedor{
	margin: 0;
	/*font-family: "Arial", "Helvetica", sans-serif;*/
	text-align: left;
	color: white;
}
#contenedorSeccion3{
	margin: 0;
	/*font-family: "Arial", "Helvetica", sans-serif;*/
	text-align: center;
	color: white;
}
#contenedorSlider1{
	background-color: white;
	height: 100px;
}
.portada1{
		text-align: left;
}

#imagenPortada1{
	background: url(../img/PortadaYael.jpg);
			background-attachment: fixed;
			background-size: cover;
}
@keyframes apareceTexto{
	0%{opacity:0;}
	100%{opacity:1;}
}


.textoImagenPortada1{
	animation-name: apareceTexto;
	animation-duration: 4s;
	position: absolute;
	width: 30%;
	font-size: 230%;
	bottom: 2px;
	margin-left: 2%;
	z-index: 2;
	color: white;
}

.header1{ background: white;
			padding-top: 4px;
                    }
.header2{ background: white;
                    height: 10px; } 
#seccion2{}
.seccion2{padding: 20px;}
.estiloSeccion2{
	font-family: 'Lato', sans-serif;
	font-size: 200%;
	padding-top: 40%;
}
.colorLink{color: black;}
.tresFotosPorFila{}

#seccionNovedades{}

.seccion3{background-color: pink ; /*rgb(255, 204, 204);*/
	padding: 20px;
}
.imagenSeccion3{
	position: relative;
	top: 100px;
	/*z-index: -1;*/
}
.TextoFotoSeccion3{
	position: relative;
	bottom: 100px;
	font-size: 300%;
	z-index: 10;
	
}
.contenedorCardDeck{
	padding-left: 10%;
	padding-bottom: 5%;
	width: 90%;
	
}
.cardBackColor{
	background-color: rgb(207,216,220);
}
.cardTextColor{
	color: black;
	text-align: center;
}
#seccion4{}
.seccion4{
	padding-top: 20px;

}
.formulario{
	background-color: pink; /* rgb(255, 204, 204);*/
	padding-top: 8px;
	position: relative;
	left: -80px;
	top: 80px;
}
.seccion5{
	padding: 100px;
	text-align: center;
}
.cardHover{
	transition-duration: 1s,1s;
	transition-property: transform,background;
	transition-timing-function: ease;
}
.cardHover:hover{
	transform: scale(1.1,1.1);
	background: #FFCDD2;/*pink;  rgb(255, 204, 204);*/
	z-index: 1;
	
}

.seccionVideo{
	background-color: pink /* rgb(255, 204, 204);#D0D1D2;*/
	align-text: center
}
#embed{
	padding: 2%;

}
.seccion6{ background: #D0D1D2; }
.colorFooter{ background-color: #D0D1D2;}
.colorForm{background-color: #FFEBEE;}
.colorFormFooter{background-color: #EFEBE9}

.icon{
	font-size:25px;
	color:black;
	padding-right: 10px;
}
.icon:hover{
	color: white;
}
.centrar{text-align: center;
		}
.redesSociales{display: row;}

.seccion7{ background: rgb(33,33,33);
                    }
.txt_2 {
	text-align: right;
	color: white;
	padding: 5px;
	}



.section1{ background: rgb(121,134,203);
                     }
.section2{ background: rgb(245,245,245);
                padding: 40px;}
.section3{ background: rgb(189,189,189);
                    height: 200px;}
.section4{ background: rgb(33,33,33);
                    height: 30px; }
.foto{background:grey;
                    }
.piedeimagen{background: rgb(207,216,220);
                    height: 50px}


.cardTitle{
	color: black;
}

/* ----- Quienes Somos ------*/
#qsSeccion1{
	background: url("../img/MG_3018.gif");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
}
#qscontenedor{
		  width: 80%;
		  background-color: rgba(255,255,255,0.6);
          height:800px;
          margin-right: auto;
          margin-left: auto;
          /*column-count: 2;
          column-gap: 50px;
          column-rule: 2px solid #f00;*/
          padding: 15px;
    }
/* ------- Media Queries -------*/
/*Dispositivos Grandes*/
@media	screen and (min-width: 960px){
	.header2{display: none;}
	.portada1{display: none;} 
	.imagenPortada1{display: none;}
}
/*Dispositivos Medianos*/
@media	screen and (max-width: 959px) and (min-width: 560px)
					 {
	.parallax {display: none;}				 	
	.textoImagenPortada1{
		font-size: 120%;
		bottom: 150px;
		}
	.formulario{
		left: 5px;
		top: 10px;
		}
	
	}


/*Dispositivos pequeños*/

@media	screen and (max-width: 559px) and (min-width: 0px){
	.parallax {display: none;}
	.textoImagenPortada1{
		font-size: 130%;
		bottom: 0px;
		color: black;
		width: 100%;
		text-align: center;
		margin-left: 0%;
		z-index: 0;
		position: static;
		}
	
	.formulario{
		left: 1px;
		top: 10px;
		}
	.imagenSeccion3{
		position: relative;
		top: 3px;
		/*z-index: -1;*/
	}
	.TextoFotoSeccion3{
		position: static;
		bottom: 0px;
		font-size: 150%;
		z-index: 10;	
	}
	.estilo{display: none;}
	.tresFotosPorFila{display: none;}
}
.card-columns {

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}


                    